{
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 6,
    },
    "rules": {
        "semi": ["warn", "always"],
        "quotes": ["warn", "single"],
    },
    "globals": {
        "angular": true,
    },
}
