[user]
    name = Jens Gustafsson
    email = jens.gustafsson@lime.tech
[credential]
    helper = cache
[alias]
    ls = log --oneline --decorate
    lsg = log --oneline --decorate --graph --all
    co = checkout
    st = status --short
    br = branch
    ci = commit -v
    unstage = reset HEAD --
    last = log -1 HEAD
    dd = git difftool --dir-diff
[core]
    editor = vim
    filemode = false
    autocrlf = false
    excludesfile = /home/jeg/.gitignore_global
    preloadindex = true
    fscache = true
    ; pager = diff-so-fancy | less --tabs=4 -RFX
[mergetool "kdiff3"]
    path = /usr/bin/kdiff3
    keepBackup = false
    trustExitCode = true
[difftool "kdiff3"]
    path = /usr/bin/kdiff3
    keepBackup = false
    trustExitCode = true
[diff]
    tool = kdiff3
    guitool = kdiff3
[merge]
    tool = kdiff3
    conflictstyle = diff3
[push]
    default = simple
[color]
    ui = always
    diff = always
[gc]
    auto = 256
[mergetool]
    prompt = false
[difftool]
    prompt = false
